* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  position: relative;
  padding: 20px;
  width: 400px;
  height: 260px;
}

.card__title {
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
  font-size: 18px;
}

.card__link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/c1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.card__link--bg {
  background-image: url(../img/c2.png);

}

.card__span {
  display: inline-block;
  position: absolute;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 20px;
  top: 30px;
  right: 50px;
  font-size: 14px;
}